**/*
!out/**/*
!assets/bricks-logo.png
!README.md
# Needed as the entry point for code preview
!preview/index.html
# Styles in webview panel
!media/**/*
# Needed for previewing React code
!node_modules/esbuild-wasm
!node_modules/react
!node_modules/react-dom
!node_modules/loose-envify
!node_modules/scheduler
# Needed for rendering tailwindcss
!node_modules/tailwindcss
!node_modules/arg
!node_modules/chokidar
!node_modules/color-name
!node_modules/detective
!node_modules/acorn-node
!node_modules/acorn-walk
!node_modules/acorn
!node_modules/xtend
!node_modules/defined
!node_modules/minimist
!node_modules/didyoumean
!node_modules/dlv
!node_modules/fast-glob
!node_modules/glob-parent
!node_modules/merge2
!node_modules/micromatch
!node_modules/glob-parent
!node_modules/is-glob
!node_modules/is-glob
!node_modules/lilconfig
!node_modules/micromatch
!node_modules/braces
!node_modules/picomatch
!node_modules/normalize-path
!node_modules/object-hash
!node_modules/picocolors
!node_modules/read-cache
!node_modules/pify
!node_modules/resolve
!node_modules/camelcase-css
!node_modules/postcss-load-config
!node_modules/lilconfig
!node_modules/ts-node
!node_modules/yaml
!node_modules/cssesc
!node_modules/util-deprecate
!node_modules/quick-lru
!node_modules/resolve
!node_modules/is-core-module
!node_modules/has
!node_modules/function-bind
!node_modules/postcss
!node_modules/source-map-js
!node_modules/nanoid/non-secure
!node_modules/postcss-selector-parser
!node_modules/postcss-nested
!node_modules/postcss-value-parser
!node_modules/postcss-import
!node_modules/postcss-js
!node_modules/is-extglob
!node_modules/fill-range
!node_modules/to-regex-range
!node_modules/is-number
!node_modules/@nodelib/fs.walk
!node_modules/@nodelib/fs.stat
!node_modules/@nodelib/fs.scandir
!node_modules/run-parallel
!node_modules/queue-microtask
!node_modules/fastq
!node_modules/reusify
